:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first-container {
  text-align: center;
  background: rgb(140, 7, 229);
  padding: 20px;
  border-radius: 10px;
  color: rgb(233, 239, 238);
}

.image-profile{
  width: 45%;
  
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  align-items: center; 
}

.btn {
  width: 120px; 
  padding: 10px;
  text-align: center;
  background-color:  #890aea;
  color: rgb(254, 254, 254);
  text-decoration: none;
  border-radius: 35px;
}

.btn:hover {
  background-color:#d409ef;
}
